version: "3"

services:
    php:
        image: php:8.2-fpm
        volumes:
            - ./:/app
        working_dir: /app
        networks:
            - app-network

    nginx:
        image: nginx:latest
        ports:
            -   "8080:80"
        volumes:
            -   ./:/app
            - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
        networks:
            - app-network

networks:
    app-network:
        driver: bridge
